@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
$max-width: 100%;
$bar-height: 50px;

$column-width: 400px;
$column-height: 700px;

$color-gray: rgb(237, 239, 241);
$color-font: rgb(61, 65, 67);
$color-border: rgb(223, 226, 229);
$color-darked: rgb(0, 0, 0, 0.5);

$btn-height: 40px;

* {
  font-family: "Noto Sans KR", sans-serif;
  color: $color-font;
}

.header {
  width: $max-width;
  height: $bar-height;
  background-color: black;
  color: white;
}
.searchbar {
  width: $max-width;
  height: $bar-height;
  margin-top: 10px;
}
.container {
  background-color: white;
  width: 100%;
  padding: 0px 20px;
  flex-wrap: nowrap;
  overflow: scroll;
}

.list {
  width: $column-width;
  height: $column-height;
  background-color: $color-gray;
  padding: 10px;
  border-radius: 10px;
  overflow-y: auto;
  .number-box {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    font-size: 22px;
    text-align: center;
  }
  .column-title {
    height: 30px;
    font-size: 30px;
    font-weight: bold;
  }
  .task-image {
    width: 26px;
    height: 26px;
  }
  .task {
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
  }
  .close-image-list {
    width: 12px;
    height: 12px;
    float: right;
    cursor: pointer;
  }
  .close-image-task {
    width: 12px;
    height: 12px;
    float: right;
    cursor: pointer;
  }
  .plus-image {
    width: 12px;
    height: 12px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
  }
}
.new-task {
  width: 100%;
  margin: 20px 0px;
  .new-task-input {
    width: 100%;
    box-sizing: border-box;
  }
}
.btn-box {
  justify-content: space-between;
}
.btn-add--active {
  width: 49%;
  height: $btn-height;
  background-color: rgb(100, 173, 100);
  color: black;
  cursor: pointer;
}
.btn-add--inactive {
  width: 49%;
  height: $btn-height;
  background-color: rgb(146, 206, 146);
  color: white;
  cursor: not-allowed;
}
.btn-cancel {
  width: 49%;
  height: $btn-height;
  background-color: white;
  cursor: pointer;
}
textarea {
  resize: vertical;
}
.input-filter {
  width: 400px;
  height: 90%;
  margin-left: 30px;
  padding-left: 10px;
  border: 1px solid $color-border;
}
.new-list {
  width: 400px;
  height: 250px;
  border: 1px dashed $color-border;
}

.copied {
  width: 300px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px blue solid;
}
.expected {
  position: static;
  border: 2px blue solid;
}
.translucent {
  opacity: 0.5;
  box-shadow: 5px 5px 5px red;
}

.modal-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: $color-darked;
  display: flex;
  justify-content: center;
}
.modal-confirm {
  width: 300px;
  background-color: white;
  position: absolute;
  top: 30%;
  box-shadow: 10px 10px 10px black;
  .modal-confirm_title {
    width: 100%;
    height: 30px;
    text-align: center;
    font-weight: 1000;
  }
  .modal-confirm_content {
    margin: 10px 0px;
  }
}
.modal_btn-confirm {
  width: 50%;
  height: 40px;
  background-color: rgb(0, 184, 0);
  border: 0px;
}
.modal_btn-cancel {
  width: 50%;
  height: 40px;
  background-color: #ddd;
  border: 0px;
}

.modal-edit {
  width: 400px;
  background-color: white;
  position: absolute;
  top: 30%;
  box-shadow: 10px 10px 10px black;
  .modal-edit_title {
    width: 100%;
    height: 30px;
    text-align: center;
    font-weight: 1000;
  }
  .modal-edit_input {
    width: 100%;
    margin: 10px 0px;
    box-sizing: border-box;
  }
}
.modal-detail {
  width: 500px;
  background-color: white;
  position: absolute;
  top: 30%;
  box-shadow: 10px 10px 10px black;
  .modal-detail_title {
    width: 100%;
    height: 30px;
    text-align: center;
    font-weight: 1000;
  }
  .modal-detail_input {
    width: 100%;
    box-sizing: border-box;
  }
}
.input-sub-task {
  margin: 0px;
}
.modal-btn-add {
  width: 100%;
  border: none;
  margin-bottom: 10px;
}

.moving {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 10px;
}
